<div class="form-row">
  <form action="/new" method="post">
      <label>Name:</label>
      <input name="item" placeholder="Item name"/>
      <label>Quantity:</label>
      <input type="number"/>

    
      <button type="submit">Create List</button>
  </form>
</div>